	
	
	html {
		margin-top: 40px !important;
		position: relative;
	}

	.gdymc_inside, .gdymc_inside * {
		height: auto;
		width: auto;
		margin: 0;
		padding: 0;
		position: static;
		text-shadow: none;
		text-transform: none;
		letter-spacing: normal;
		font-size: 13px;
		font-weight: 400;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
		line-height: 16px;
		-webkit-border-radius: 0;
		border-radius: 0;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		-webkit-transition: none;
		transition: none;
		-webkit-font-smoothing: subpixel-antialiased; /* Prevent Safari from switching to standard antialiasing on hover */
		-moz-osx-font-smoothing: auto; /* Prevent Firefox from inheriting from themes that use other values */
		vertical-align: top;
	}

	.gdymc_inside ul li:before,
	.gdymc_inside ul li:after {
		content: normal;
	}

	.gdymc_inside a,
	.gdymc_inside a:hover,
	.gdymc_inside a img,
	.gdymc_inside a img:hover {
		outline: none;
		border: none;
		text-decoration: none;
		background: none;
		box-shadow: none;
	}

	.gdymc_inside button,
	.gdymc_inside button:hover,
	.gdymc_inside button:focus,
	.gdymc_inside button:active {
		outline: none;
		border: none;
		text-decoration: none;
		background: none;
		box-shadow: none;
	}

	.gdymc_inside a:focus,
	.gdymc_inside a:active,
	.gdymc_inside input[type="text"],
	.gdymc_inside input[type="password"],
	.gdymc_inside input[type="number"],
	.gdymc_inside input[type="search"],
	.gdymc_inside input[type="email"],
	.gdymc_inside input[type="url"],
	.gdymc_inside select,
	.gdymc_inside textarea {
		color: #333;
		-webkit-box-shadow: none;
		box-shadow: none;
		outline: none;
	}

	.gdymc_inside select:-moz-focusring {
		color: transparent;
    	text-shadow: 0 0 0 #000;
	}

	.gdymc_inside .dashicons {
		font-family: dashicons;
		font-size: 20px;
	}

	.gdymc_progress *,
	.gdymc_progress *:active,
	.gdymc_progress *:hover,
	.gdymc_progress *:focus {
		cursor: progress !important;
	}

