	
	
	/******************************** CIRCULAR ANIMATION ********************************/

	@-moz-keyframes gdymcspin { from { -moz-transform: rotate(0deg); } to { -moz-transform: rotate(360deg); } }
	@-webkit-keyframes gdymcspin { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg); } }
	@keyframes gdymcspin { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }
	



	/******************************** SAVE WAVE ********************************/

	@keyframes gdymc_save { 
		0% { 
			transform: scale(1.1);
		}
		40% {
			transform: scale(1.6);
			opacity: 0.0;
		}
		100% {
			transform: scale(1.6);
			opacity: 0.0;
		}

	}

	@-moz-keyframes gdymc_save { 
		0% { 
			transform: scale(1.1);
		}
		40% {
			transform: scale(1.6);
			opacity: 0.0;
		}
		100% {
			transform: scale(1.6);
			opacity: 0.0;
		}

	}

	@-webkit-keyframes gdymc_save { 
		0% { 
			transform: scale(1.1);
		}
		40% {
			transform: scale(1.6);
			opacity: 0.0;
		}
		100% {
			transform: scale(1.6);
			opacity: 0.0;
		}

	}



	/******************************** SUPPORT PULSE ********************************/

	@-webkit-keyframes pulse {
		0% {
			margin-top: -5px;
			margin-left: -4px;
			width: 4px;
			height: 4px;
			opacity: 1.0;
		}
		90% {
			margin-top: -18px;
			margin-left: -17px;
			width: 30px;
			height: 30px;
			opacity: 0.0;
		}
		100% {
			margin-top: -18px;
			margin-left: -17px;
			width: 30px;
			height: 30px;
			opacity: 0.0;
		}
	}




	/******************************** BLINK ********************************/

	@keyframes gdymc_blink { 
		0% { 
			outline: 2px solid rgba(255,186,0,1);
		}
		40% {
			outline: 2px solid rgba(255,186,0,1);
		}
		90% {
			outline: 2px solid rgba(255,186,0,0.4);
		}
		100% {
			outline: 2px solid rgba(255,186,0,1);
		}
	}

	@-moz-keyframes gdymc_blink { 
		0% { 
			outline: 2px solid rgba(255,186,0,1);
		}
		40% {
			outline: 2px solid rgba(255,186,0,1);
		}
		90% {
			outline: 2px solid rgba(255,186,0,0.4);
		}
		100% {
			outline: 2px solid rgba(255,186,0,1);
		}
	}

	@-webkit-keyframes gdymc_blink { 
		0% { 
			outline: 2px solid rgba(255,186,0,1);
		}
		40% {
			outline: 2px solid rgba(255,186,0,1);
		}
		90% {
			outline: 2px solid rgba(255,186,0,0.4);
		}
		100% {
			outline: 2px solid rgba(255,186,0,1);
		}
	}
